# Ignore the virtual environment folder
venv/

# Ignore all Python bytecode/cache folders
__pycache__/

# Ignore the environment variables file (very important for security)
.env

# Ignore all CSV files (wildcard)
*.csv